#
# For example, go to https://github.com/koalaman/shellcheck/wiki/SC2236 for more
# information about SC2236.
#

disable=SC1090
disable=SC1091
disable=SC2001
disable=SC2016
disable=SC2034
disable=SC2046
disable=SC2089
disable=SC2090
disable=SC2116
disable=SC2143
disable=SC2155
disable=SC2181
disable=SC2199
disable=SC2236