{
	admin off
	auto_https off

	log {
		format json
	}
}

:80 {
	root * /public_html
	file_server
	encode gzip

	@options {
		method OPTIONS
	}

	respond @options 204
	respond / 200

	header {
		Access-Control-Allow-Headers "GET,OPTIONS,POST"
		Access-Control-Allow-Methods *
	}

	import /etc/caddy.d/*

	log {
		output stdout
		format json
	}
}